node_modules
dist
build
.next
.env
*.zip
.vscode
.idea
coverage
.DS_Store
*.env
backend_prod.env
*.env
backend_prod.env
oxo/
*.tar.gz
englishom_backup_2026-06-27_03-00-02.tar.gz
*.zip
old-test.zip
old-landing.zip

